//
// Override global variables
//

// Theme colors
$primary: #0095fa;
$primary-hover: #007dd1;
$primary-light: #c9f7f5;
$primary-inverse: #ffffff;

$info: #6993ff;
$info-light: #e1e9ff;
$info-hover: #4a7dff;
$info-inverse: #ffffff;

$success: #438865;
$success-hover: #11442a;
$success-light: #e1f0ff;
$success-inverse: #ffffff;
